*{
  box-sizing: border-box;
}

.container
{
  justify-content:center;
  display:flexbox;
  flex-direction:column;
  margin-top:5%;
  text-align: center;
 

}

:root {
	--background-color: #ffe5e5;
	--color: #000000;
	--feedback-bg-color: #ffffff;
	--feedback-secondary-color: #ffacac;
	--feedback-primary-color: #53488d;
	--feedback-icon-color: #ffffff;
	--feedback-form-input: #f4f4f4;
}

.center-content {
  display: grid;
  place-content: center;
}
.input
 {
    
  @extend .center-content;
	padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
  
	border-radius: 7px;
	border-bottom-left-radius: 0;
  
	background-color: var(--feedback-secondary-color);
	color: var(--feedback-primary-color);
  
	transition: all 0.3s;
  

}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
 }


 .search
 {
   cursor:pointer;
   font-size:16px;
   margin-left: 70px;
   align-items: center;
   justify-content:center;
   margin-top:20px;
   font-weight: bold;
   color: black;
   background: white;
   padding:8px;
   width:10%;

 }